<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Template</title>
</head>
<body>
    <div class="bg-red-800 text-white mx-[20px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, nobis veritatis accusantium libero ut reprehenderit repudiandae rem? Mollitia, dolor. Dolores laudantium voluptates adipisci suscipit eligendi quibusdam officiis totam voluptatum reprehenderit at reiciendis numquam nisi magni aspernatur repudiandae nam nesciunt sunt, fugiat aperiam, laboriosam quia, excepturi ducimus rerum? Maiores nesciunt beatae repellendus numquam culpa velit repellat aliquid, non laboriosam? Voluptas, sint aut architecto beatae cum ex quasi odit sed odio. Enim soluta molestiae fuga unde quo fugiat ad sapiente eos porro, dicta dolores repellat ipsam facilis nam dolorem ducimus odit asperiores itaque mollitia qui sequi inventore ea! Officia eveniet vitae voluptas!
    </div>
    <!-- <nav class="py-4 bg-purple-900  text-white flex justify-between items-center h-[10vh]">
        <img class="w-15 mx-3 rounded-2xl" src="https://randomuser.me/api/portraits/thumb/men/75.jpg" alt="">
        <ul class=" px-15 mx-4 flex justify-end">
           <li class="mx-5 cursor-pointer hover:text-2xl"><a href="">Home</a></li>
           <li class="mx-5 cursor-pointer hover:text-2xl"><a href="">Contact</a></li>
           <li class="mx-5 cursor-pointer hover:text-2xl"><a href="">About</a></li>
           
        </ul>
    </nav>
    <div class="bg-fuchsia-300 h-[90vh] py-10 px-5 flex ">
        <div class="py-3">
            <p class="text-blue-500 text-4xl font-bold mx-3 ">
               Best Smartphone in world
            </p>
            <p class="mx-10 my-4 text-green-900 font-light w-[600px]">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione tenetur ducimus distinctio suscipit, sapiente tempora dignissimos accusantium vero voluptates eos dolor corporis minima laudantium perferendis neque et temporibus, voluptatum laboriosam asperiores aliquid doloremque, hic impedit nemo aspernatur. Illum eos esse, aliquid itaque quasi, eaque maxime consequatur, doloremque vero nemo ipsa.
            </p>
        </div>
        <img class="w-[660px] h-[360px] ml-16 my-16" src="https://source.unsplash.com/660x360/?mobilephone" alt="">
    </div> -->
</body>
</html>