* {
  margin: 0;
  padding: 0;
}

#nav {
  background-color: teal;
}

ul {
  overflow: auto;
  padding: 20px;
  display: flex;
}

li{
  margin: 10px;
  list-style: none;
  font-size: large;
  text-decoration: none;
  color: rgb(210, 246, 7);
  padding: 3px 3px;
}

